

body {
background-image: url('../images/landingpage_background.jpg');
        width: 100%;
        
        background-repeat: no-repeat;

        
        font-family: "Roboto", sans-serif;
      }
      
      body * {
        font-family: inherit;
      }
      
      body
      
      #root {
        display: flex;
        flex-flow: column;
        height: 100%;
      }
      
      #container {

      }
      
      header {
        display: flex;
        justify-content: space-between;
      }
      
       #navbarSupportedContent{
   position:absolute;

   right:0;
  }
      
      .logo {
        margin: 30px 0 0 30px;
        width: 128px;
        width: 128px;
        padding: 2px;
        
        box-shadow: 2px 2px 5px #fff;
        background-color: #1E5B32;
        border-radius: 20%;
      }
      
      .login {
      }
      
      .login a {
        font-size: 20pt;
        color: white;
        margin: 30px 30px 0 0;
        
        text-shadow: 2px 2px 5px #000;
      }
      
      .login a:hover {
        text-decoration: none;
      }
      
      
      #midbar {
        position: relative;
        width: 90%;
        margin-bottom: 5%;
        bottom: -200px;
      }
      
      #midbar > p {
        text-align: center;
        font-family: "Robot", sans-serif;
        font-size: 50pt;
        color: white;
        
        text-shadow: 2px 2px 5px#000;
      }
      
      .input-group {
        margin-left: 5%;
      }
      