@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  background-image: url('../images/log-in-bg.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif !important;
}


#textContainer {
  margin-top: 150px;
  text-align: center;
  background-color: #48b574;
  line-height: 1.3em;
  
  
}
#logIn {
  font-size: 40pt;
  color: white;
  display: inline;
  text-shadow: 0px 0px 4px green;
}
#firebaseui-auth-container {

  padding: 0.5em;
  margin-top: 75px;
}

